|{{position}}
three-viewport(

    class         = 'viewport view'
    renderer-type = 'WebGLRenderer'
    camera-type   = 'PerspectiveCamera'
    field-of-view = 85
    near-clip     = 1
    far-clip      = 12762000

)

  info-panel(

    class = 'viewport location'

  )

  three-first-person(

    model-position-x = 0
    model-position-y = 100
    model-position-z = 0

  )

|click to activate keyboard strafe