|click to activate keyboard strafe
three-viewport(

    class         = 'viewport view'
    renderer-type = 'WebGLRenderer'
    camera-type   = 'PerspectiveCamera'
    field-of-view = 85
    near-clip     = 1
    far-clip      = 10000

)
