three-viewport(

    class         = 'viewport view'
    renderer-type = 'WebGLRenderer'
    camera-type   = 'PerspectiveCamera'
    field-of-view = 100
    near-clip     = 1
    far-clip      = 12762000

)

  info-panel(

    class = 'viewport location'

  )

  three-first-person(

    longitude = 18.49963
    latitude  = -34.36157
    altitude  = 0

  )
