doctype 5
html(ng-app='client')

    head
  
        script(src = '/angular-1.0.6/angular.js')
        script(src = '/three-r57/three.js')
        script(src = '/three-r57/first-person-controls.js')
        script(src = '/socket.io/socket.io.js')

        != js('manifest')
        != css('style')

    body

        block content
