.viewport.view
    
    display: block
    width: 600px
    height 400px
    border: 1px solid black
    background: grey
    

.viewport.location

    position: absolute
    font-size: x-small
    font-family: monospace
    color: white

